{
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "prettier/standard"
  ],
  "rules": {
    "prettier/prettier": 1,
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": 0,
    "react/destructuring-assignment": [1, "always", { "ignoreClassFields": true }],
    "react/jsx-curly-brace-presence": [2, {
      "props": "always"
    }],
    "react/sort-comp": [2, {
      "order": [
        "static-methods",
        "lifecycle",
        "instance-methods",
        "instance-variables",
        "everything-else",
        "render"
      ]
    }],
    "arrow-parens": [2, "always"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "jsx-a11y/click-events-have-key-events": 1,
    "jsx-a11y/no-static-element-interactions": 1,
    "jsx-a11y/no-noninteractive-element-interactions": 1
  }
}
